# Metal Price API
METAL_API_KEY=484e10b2ec808863d1c692d2ea2eb921

# Cron Secret (اختر أي كلمة)
CRON_SECRET=my-secret-123

# Neon Database URL
# احصل عليه من: console.neon.tech → Connection Details
DATABASE_URL=postgresql://username:password@ep-xxx.region.aws.neon.tech/neondb?sslmode=require
